*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#mainContainer{
    width: 100%;
    min-height: 100vh;
    height: auto;
}
header {
    width: 100%;
    height: auto;
    background-color: white;
    position: fixed;
    z-index: 10;
    padding: 20px 0;
}
nav{
    width: 95%;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logoBox{
    width: 200px;
}
#logo{
    width: 100%;
}
nav ul{
    width: 45%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li a{
    text-decoration: none;
    color: #024C94;
    border-bottom: 2px solid transparent;
    padding: 5px 0;
    font-size: 1.1rem;
}
nav ul li a:hover{
    border-bottom: 2px solid #024C94;
}
#icons {
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#email,
#phone {
    width: 35px;
    height: 35px;
    background-color: #1E2F5D;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#email span, #phone span{
    color: white;
}

#menuIcon{
    display: none;
    border-radius: 25px;
}
#menuIcon:hover{
    background-color: #1E2F5D;
}
#menuIcon span{
    color: #1E2F5D;
    margin: 8px;
}
#menuIcon span:hover{
    color: white;
}

.hide{
    display: none !important;
}

#responsiveNav{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    animation: responsiveNav 1s forwards;
    position: absolute;
    z-index: 2;
}
@keyframes responsiveNav {
    0%{
        opacity: 0;
        margin-top: -30%;
    }
    100%{
        opacity: 1;
        margin-top: 0%;
    }
}
#responsiveNav ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#responsiveNav ul li{
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #e9ecef;
    padding: 5px 0;
}
#responsiveNav ul li:hover{
    border-bottom: 2px solid #024C94;
}
#responsiveNav ul li a{
    text-decoration: none;
    color: #024C94;
}




#box1 {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0px 5px 15px rgb(41, 41, 41);
    position: relative;
}

#text {
    width: 60%;
    height: auto;
    /* border: 2px solid white; */
    position: absolute;
    z-index: 1;
    animation: text 0.8s ease-in-out;
}

@keyframes text {
    0% {
        margin-top: 100px;
        opacity: 0;
    }

    100% {
        margin-top: 0;
        opacity: 1;
    }
}

.heading {
    font-size: 3.5rem;
    color: white;
    margin-bottom: 15px;
    text-align: center;
}


#slider {
    width: 100%;
    height: 70vh;
    background-color: black;
    overflow: hidden;
    position: relative;
}

#slider .slider {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: fade 30s infinite;
    opacity: 0;
    object-fit: cover;
}

#slider .slider1 {
    animation-delay: 0s;
}

#slider .slider2 {
    animation-delay: 6s;
}

#slider .slider3 {
    animation-delay: 12s;
}

#slider .slider4 {
    animation-delay: 18s;
}

#slider .slider5 {
    animation-delay: 24s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0.4;
    }

    20% {
        opacity: 0.4;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


#productContainer {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: #ffffff;
}
.productHeadings{
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 10px rgb(154, 154, 154);
    margin: 20px 0;
}
.productBox {
    width: 95%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    justify-content: space-between;
}

.products {
    height: 280px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(154, 154, 154);
    overflow: hidden;
    /* border: 2px solid gray; */
    margin: 30px 0;
    animation: products 2s;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

@keyframes products {
    0% {
        opacity: 0;
        scale: 0;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

.products:hover {
    scale: 1.1;
}

.imgBox {
    width: 100%;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* border: 2px solid black; */
}

.imgBox img {
    width: 100%;
    /* border: 2px solid green; */
}

.title {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    z-index: 1;
}

.title p {
    font-size: 0.8rem;
    color: white;
    margin: 0;
}




#contactContainer{
    width: 100%;
    height: auto;
    box-shadow: 0 0 20px black;
    background-color: #1E2F5D;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 0;
}
#contactText{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
#contactText h1{
    color: white;
    font-size: 2.5rem;
}
#contactText p{
    font-size: 1rem;
    color: white;
}
#contactIconBox{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.callIcon, .contactEmailIcon{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;
}
#whatsappIcon{
    width: 2rem;
}
.callIcon span, .contactEmailIcon span{
    color: white;
    font-size: 2.5rem;
}
.callIcon p, .contactEmailIcon p{
    color: white;
    font-size: 1.2rem;
}


footer{
    width: 100%;
    background-color: white;
    padding: 10px;
    position: relative;
    z-index: -1;
}
footer p{
    text-align: center;
    font-size: 1rem;
}




@media only screen and (max-width: 576px) {
    #logoBox{
        width: 150px;
    }
    nav ul, #icons{
        display: none;
    }
    #menuIcon{
        display: block;
    }
    
    #text {
        width: 80%;
    }
    .heading {
        font-size: 2rem;
    }

    .productBox {
        grid-template-columns: 70%;
        justify-content: center;
    }
    .title p {
        font-size: 0.9rem;
    }



    #contactText{
        width: 90%;
        align-items: center;
        margin-bottom: 50px;
    }
    #contactText h1{
        font-size: 2rem;
    }
    #contactText p{
        font-size: 0.8rem;
        text-align: center;
    }
    #contactIconBox{
        width: 90%;
        align-items: center;
    }
    .callIcon, .contactEmailIcon{
        width: 100%;
        justify-content: center;
    }
    .callIcon span, .contactEmailIcon span{
        font-size: 1.7rem;
    }
    #whatsappIcon{
        width: 1.7rem;
    }
    .callIcon p, .contactEmailIcon p{
        font-size: 0.8rem;
    }

    footer p{
        font-size: 0.5rem;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    #logoBox{
        width: 180px;
    }
    nav ul, #icons{
        display: none;
    }
    #menuIcon{
        display: block;
    }

    #text {
        width: 70%;
    }
    .heading {
        font-size: 2.5rem;
    }
    
    .productBox {
        grid-template-columns: 40% 40%;
        justify-content: space-evenly;
    }
    .title p {
        font-size: 0.9rem;
    }


    #contactText{
        width: 90%;
        align-items: center;
        margin-bottom: 50px;
    }
    #contactText h1{
        font-size: 2.2rem;
    }
    #contactText p{
        font-size: 0.9rem;
        text-align: center;
    }
    #contactIconBox{
        width: 90%;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .callIcon, .contactEmailIcon{
        width: auto;
        justify-content: center;
        gap: 10px;
    }
    .callIcon span, .contactEmailIcon span{
        font-size: 1.8rem;
    }
    #whatsappIcon{
        width: 1.8rem;
    }
    .callIcon p, .contactEmailIcon p{
        font-size: 0.9rem;
    }

    footer p{
        font-size: 0.7rem;
    }
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
    nav ul, #icons{
        display: none;
    }
    #menuIcon{
        display: block;
    }

    #text {
        width: 65%;
    }
    .heading {
        font-size: 3rem;
    }


    .productBox {
        grid-template-columns: 23% 23% 23% 23%;
        justify-content: space-evenly;
    }
    .title p {
        font-size: 0.9rem;
    }


    #contactText{
        width: 90%;
        align-items: center;
        margin-bottom: 50px;
    }
    #contactText h1{
        font-size: 2.3rem;
    }
    #contactText p{
        text-align: center;
    }
    #contactIconBox{
        width: 75%;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .callIcon, .contactEmailIcon{
        width: auto;
        justify-content: center;
    }
    .callIcon span, .contactEmailIcon span{
        font-size: 2.3rem;
    }
    #whatsappIcon{
        width: 2.3rem;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #logoBox{
        width: 180px;
    }
    nav ul{
        width: 50%;
    }
}